/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require font-awesome
 *= require_tree .
 */


html, body, header, ul, li, figure {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  height: 100%;
  background: url("dark_linen.png") repeat center center;
}

body {
  height: 100%;
}

hr {
    margin: 30px 50px;
    color: #333;
    text-align: center;
    opacity: .7;
}

a {
	text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

label {
  margin: 5px 10px;
}

input:not([type="radio"]) {
  margin: 0 10px;
  padding: 5px;
  border-radius: 5px;
  opacity: .9;
}

input:focus {
  opacity: 1;
}

input[type="submit"] {
  display: block;
  margin: 0 auto;
  font-weight: bold;
  font-size: .8em;
  padding: 10px 30px;
  background-color: #00B36E;;
  border: none;
}

/* General Application Layout Formatting */

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -50px;
}
.page-wrap:after {
  content: "";
  display: block;
}

footer, .page-wrap:after {
  /* .push must be the same height as footer */
  height: 50px;
}

.content {
  width: 90%;
  min-width: 1000px;
  padding: 100px 0;
  margin: 0 auto;
}

.errors {
  margin-left: -300px;
  width: 600px;
  list-style-type: none;
  position: absolute;
  top: 80px;
  left: 50%
}

.errors > li {
  opacity: .9;
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 5px;
  display: block;
  background-color: #CE0926;
  color: white;
}
.errors > li:first-child {
  margin-top: 15px;
}

/* Utilities */
.inset {
	text-shadow: 0px -1px 0px #374683;
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {display: table;}

.link-button {
  cursor: pointer;
  font-size: inherit;
  color: inherit;
  border: none;
  background: none;
}
