// Place all the styles related to the Schools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$green: #00B36E;
$red: #CE0926;

div.row {
  width: 100%;
  a.edit-school-badge {
    float: left;
    width: 48%;
    margin: 0 1%;
    &:first-child {
      margin-left: 0px;
    }
    article.school-badge{
      padding: 15px 0;
      width: 100%;
      min-width: 300px;
      &:first-child {
        margin-top: 100px;
      }
    }
  }
}


.basic-form {
  background: rgba(0,0,0, .4);
  width: 500px; 
  color: white; 
  margin: 0 auto;
  padding: 20px;
  h1 {text-align: center;}
  select { 
    float: right; 
    margin-right: 10px;
  }
  textarea {
    width: 100%;
    max-width: 100%;
  }
  input:not([type="radio"]) {
    float: right;
    width: 50%;
    &[type='submit'] {
      width: 40%;
      float: none;
    }
    &[type='number'] { 
      width: 60px;
    }
    &[type='file'] {
      border: 1px solid lighten(gray, 60%);
    }
  }
}

.form-container {
  position: fixed;
  top: -100%;
  left: 50%;
  max-height: 90%;
  overflow: scroll;
  transition: top 1s;
  z-index: 1000;
  form {
    color: black !important;
    background: rgba(255,255,255, .9) !important;
  }
}

button.close-container {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 900;
  width: 40px;
  height: 30px;
  border: none;
  border-bottom-left-radius: 5px;
  background-color: rgba(255,255,255, 0.4);
  border-left: 1px solid gray;
  border-bottom: 1px solid gray;
  &:hover {
    color: white;
    background-color: rgba(206, 9, 38, .7);
  }
}
